<div class="w-screen h-screen flex flex-col items-center">

    <!-- navbar -->
    <div class="w-full h-fit">
      <app-navbar></app-navbar>
      <hr class="w-full bg-black">
    </div>
    <!-- Fin navbar -->

    <!-- formulario de creación de categoría -->
    <div class="w-full h-full flex items-center justify-center">
      <div class="w-full max-w-sm p-6 bg-white rounded-lg shadow-lg lg:max-w-md">
        <h2 class="text-3xl font-bold mb-6 text-center uppercase text-primary">Crear Categoria</h2>
      
        <form [formGroup]="categoryForm()" (ngSubmit)="addCategory()">

          <!-- nombre   -->
          <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="name">Nombre</label>
            <input
              type="text"
              id="name"
              formControlName="name"
              class="w-full px-3 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-primary"
              placeholder="Ingresa un nombre para la categoría"
            />
            @if (categoryForm().get('name').invalid && categoryForm().get('name').touched) {
                <div class="text-red-500 text-sm mt-1">
                    Por favor, ingresa un nombre.
                </div>
            }
          </div>
          <!-- fin nombre -->
      
          <!-- descripción -->
          <div class="mb-6">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="description">Descripción</label>
            <input
              type="text"
              id="description"
              formControlName="description"
              class="w-full px-3 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-primary"
              placeholder="Agrega una descripción."
            />
            @if (categoryForm().get('description').invalid && categoryForm().get('description').touched) {
                <div class="text-red-500 text-sm mt-1">
                    La descripción es obligatoria.
                </div>
            }
          </div>
          <!-- fin descripción -->
      
          <!-- botón de envío -->
          <button
            type="submit"
            [disabled]="categoryForm().invalid"
            class="w-full bg-primary text-white font-bold py-2 px-4 rounded-lg hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75"
          >
            Crear Categoria
          </button>
        </form>
      </div> 
    </div>
  
</div>