<div class="w-screen h-screen flex flex-col justify-center items-center bg-gray-100">
  <div class="w-full max-w-sm p-6 bg-white rounded-lg shadow-lg lg:max-w-md">
    <div class="w-full h-fit flex flex-col justify-center items-center">
      <img class="mb-6" src="LogoGreen.png" alt="Logo de la ferretería" />
    </div>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <!-- Mensaje de error general -->
       @if (generalError) {
        <div class="mb-4 text-red-500 text-sm font-bold text-center">
          {{ generalError }}
        </div>
       }

      <!-- Campo de correo -->
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="email">Correo Electrónico</label>
        <input
          type="email"
          id="email"
          formControlName="email"
          class="w-full px-3 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
          placeholder="Ingresa tu correo electrónico"
        />
        @if (form.get('email')?.invalid && form.get('email')?.touched) {
          <div class="text-red-500 text-sm mt-1">
            @if (form.get('email')?.errors?.['required']) {
              <span>El correo electrónico es requerido.</span>
            }
            @if (form.get('email')?.errors?.['email']) {
              <span>Por favor, ingresa un correo electrónico válido.</span>
            }
          </div>
        }

      </div>

      <!-- Campo de contraseña -->
      <div class="mb-6">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="password">Contraseña</label>
        <input
          type="password"
          id="password"
          formControlName="password"
          class="w-full px-3 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
          placeholder="Ingresa tu contraseña"
        />
        @if (form.get('password')?.invalid && form.get('password')?.touched) {
          <div class="text-red-500 text-sm mt-1">
            @if (form.get('password')?.errors?.['required']) {
            <span>La contraseña es requerida.</span>
            }
          </div>
        }

      </div>

      <!-- Botón de iniciar sesión -->
      <button
        type="submit"
        class="w-full bg-primary text-white font-bold py-2 px-4 rounded-lg hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-green-700 focus:ring-opacity-75 cursor-pointer"
      >
        Iniciar Sesión
      </button>
    </form>

    <!-- Enlace para registrarse -->
    <div class="w-full h-fit flex justify-start items-center">
      <p class="mt-4">
        ¿No tienes una cuenta? Regístrate
        <a class="font-bold text-blue-500" routerLink="/signUp" routerLinkActive="active">Aquí</a>
      </p>
    </div>
  </div>
</div>
