<div class="w-screen h-screen flex flex-col items-center">

    <div class="w-full h-fit">
      <app-navbar></app-navbar>
      <hr class="w-full bg-black">
    </div>
  
    <div class="w-full h-full flex items-center justify-center">
      <div class="w-full max-w-4xl p-4 bg-white rounded-lg shadow-lg lg:max-w-6xl mt-2">
        <h2 class="text-2xl mb-4 text-center uppercase font-bold text-primary lg:text-4xl">Editar Producto</h2>
        <form [formGroup]="categoryFrom()" (ngSubmit)="editCategory()" class="grid grid-cols-1 gap-4">
    
          <div>
            <label class="block text-gray-700 text-sm font-bold mb-1" for="name">Nombre</label>
            <input
              type="text"
              id="name"
              formControlName="name"
              class="w-full px-3 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-primary"
              placeholder="Nombre de la categoria"
            />
            @if (categoryFrom().get('name').invalid && categoryFrom().get('name').touched) {
                <div class="text-red-500 text-sm mt-1">
                    Por favor, ingresa un nombre.
                </div>
            }

          </div>
    
          <div>
            <label class="block text-gray-700 text-sm font-bold mb-1" for="description">Descripción</label>
            <textarea
              id="description"
              formControlName="description"
              class="w-full px-3 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-primary"
              placeholder="Descripción de la categoria"
            ></textarea>
            @if (categoryFrom().get('description').invalid && categoryFrom().get('description').touched) {
                <div class="text-red-500 text-sm mt-1">
                    La descripción es obligatoria.
                </div>
            }
          </div>

          <!-- Boton -->
            <div class="w-full h-fit flex justify-center items-center">
              <button
              type="submit"
              [disabled]="categoryFrom().invalid"
              class="w-1/2 bg-primary text-white font-bold py-2 px-4 rounded-lg hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75"
            >
              Actualizar Categoria
            </button>
            </div>
          <!-- Fin Boton -->


        </form>
      </div>
    </div>
    
  </div>
  