<section class="w-full h-auto pt-5 bg-secondary flex flex-col justify-center">
  <!-- primer dropdown -->
    <app-general-product-dropdown 
  [titulo]="'Materiales'" 
  [img]="'Materiales.jpeg'" 
  [categoryId]="3">
</app-general-product-dropdown>
<!-- fin de primer dropdown -->

<!-- segundo dropdown -->
<app-general-product-dropdown 
  [titulo]="'Herramientas'" 
  [img]="'Herramientas.jpg'" 
  [categoryId]="1">
</app-general-product-dropdown>
<!-- fin de segundo dropdown -->
    </section>
    