<!-- Comprobacion de si el entorno es de navegador o no -->
@if (isBrowser) {<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 p-4">

  <!-- Grafico de aproximado de ventas por mes -->
    <div class="bg-white p-4 rounded-lg shadow">
      <h3 class="text-center mb-4 text-gray-700">Aproximado de ventas por mes</h3>
      <canvas
        baseChart
        #barChart="base-chart"
        [data]="barChartData"
        [options]="barChartOptions"
        [type]="'bar'"
      >
      </canvas>
    </div>
    <!-- fin de grafico de aproximado de ventas por mes -->

    <!-- Grafico de productos mas agregados al carrito -->
    <div class="bg-white p-4 rounded-lg shadow">
      <h3 class="text-center mb-4 text-gray-700">Productos más agregados al carrito</h3>
      <canvas
        baseChart
        #pieChart="base-chart"
        [data]="pieChartData"
        [options]="pieChartOptions"
        [type]="'pie'"
      >
      </canvas>
    </div>
    <!-- fin de grafico de productos mas agregados al carrito -->

    <!-- Grafico de categorias mas agregadas al carrito -->
    <div class="bg-white p-4 rounded-lg shadow">
      <h3 class="text-center mb-4 text-gray-700">Categorias más agregadas al carrito</h3>
      <canvas
        baseChart
        #doughnutChart="base-chart"
        [data]="doughnutChartData"
        [options]="doughnutChartOptions"
        [type]="'doughnut'"
      >
      </canvas>
    </div>
    <!-- fin de grafico de categorias mas agregadas al car-->
  </div>
}@else {
  <!-- Mensaje de que las graficas no están disponibles en este entorno -->
  <p>Las graficas no está disponible en este entorno.</p>
}