<!-- NavBar Structure -->
<ul class="w-full h-40 flex flex-col justify-around items-center bg-white md:flex-row md:justify-around md:px-5 md:h-28">
    <li class="w-full flex flex-row justify-evenly items-center md:w-auto">
      <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page"><img src="LogoGreen.png" alt="LogoEmpresa" class="h-20 w-auto"></a>
      <app-navbar-buttons class="md:hidden"></app-navbar-buttons>
   </li>
   <li class="text-xl font-bold text-primary hover:text-2xl transition-all ease-in-out duration-75 my-1"><a routerLink="/admin/dashboard" routerLinkActive="active">Dashboard</a></li>
   <li class="text-xl font-bold text-primary hover:text-2xl transition-all ease-in-out duration-75 my-1"><a routerLink="/admin/analytics" routerLinkActive="active">Analiticas</a></li>
   <li class="text-xl font-bold text-primary hover:text-2xl transition-all ease-in-out duration-75 my-1"><a routerLink="/admin/category" routerLinkActive="active">Categorias</a></li>
   <li class="text-xl font-bold text-primary hover:text-2xl transition-all ease-in-out duration-75 my-1"><a routerLink="/admin/products" routerLinkActive="active">Productos</a></li>
   <li class="text-xl font-bold text-primary hover:text-2xl transition-all ease-in-out duration-75 my-1"><a routerLink="/admin/orders" routerLinkActive="active">Ordenes</a></li>

   <li class="hidden md:block"><app-navbar-buttons></app-navbar-buttons></li>
 </ul>
